@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  border-radius: 0;
}


body{
  font-family: 'Manrope', sans-serif;
}